<h1>Log in</h1>

<%= form_with(scope: :session, url: login_path, local: true) do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>

  <%= f.label :password %>
  <%= f.password_field :password, autocomplete: "current-password" %>

  <%= f.submit "Log in" %>
<% end %>

<%#= link_to "Sign up now!", signup_path %>