<h1><%= @user.username %></h1>
<%= render 'shared/navigation' %>

<p>Email: <%= @user.email %></p>
<p>Password: <%= @user.password %></p>

<ul>
  <li><%= link_to "Edit", edit_user_path(@user) %></li>
  <li><%= link_to "Destroy", user_path(@user), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></li>
</ul>

<h2>Expenses</h2>

<ul>
  <% @expenses.each do |expense| %>
    <li>
      <%= link_to expense.month, expense %> <%= expense.year %> Total: <%= expense.total %>
    </li>
  <% end %>
</ul>

<p>
  Total Expenses: <%= @total_expenses %>
</p>

<li><%= link_to "New Expense", new_expense_path %></li>
<li><%= link_to "Users", users_path %></li>