<h1><%= @user.username %></h1>
<%= render 'shared/navigation' %>

<p>Email: <%= @user.email %></p>
<p>Password: <%= @user.password %></p>

<ul>
  <li><%= link_to "Edit", edit_user_path(@user) %></li>
  <li><%= link_to "Destroy", user_path(@user), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  } %></li>
</ul>